{% extends 'base.html.twig' %}

{% block body %}
<head>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<!------ Include the above in your HEAD tag ---------->
    <style>
        .social { position:absolute; left: 120px; bottom: 180px;}
        @import url('https://fonts.googleapis.com/css?family=Roboto:300');

        body {
            text-align:left;
            background:linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%);
            color:#555;
            font-family:'Roboto';
    </style>
</head>
<body>
<div class="container">
    <div class="row-fluid">
        <div class="span8">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d51089.17334368878!2d10.21887239750928!3d36.84071970661927!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd355a2ef9b0ed%3A0x9860009bcab10a18!2sBerges%20du%20Lac%2C%20Tunis!5e0!3m2!1sen!2stn!4v1608296148258!5m2!1sen!2stn" width="600" height="350" frameborder="0" style="border:1;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4>Get in touch</h4>
                <hr>
            </div>
            <div class="col-md-6">
                <div class="address">

                    <h5>Address:</h5>
                    <ul class="list-unstyled">
                        <li> Berges du lac, Ariana</li>
                        <li> Tunisie </li>
                        <li> 1065</li>
                    </ul>
                    <p>Please don't send anything to this address.</p>
                </div>
                <div class="email">
                    <h5>Email:</h5>
                    <ul class="list-unstyled">
                        <li> GosVoitures@gmail.com</li>
                    </ul>
                </div>
                <div class="phone">
                    <h5>Phone:</h5>
                    <ul class="list-unstyled">
                        <li> +216 11 111 111  </li>
                    </ul>
                </div>
            </div>

</div>
</body>


{% endblock%}